<br/>
<br/>
<br/>
<div class="row">
    <div id="catchMeDiv" class="catch-me-top-div">
        <div style="color: white; padding-left:25px; padding-top: 10px; text-align: -webkit-auto;">

            <div><b style="color: greenyellow">User:</b> {{$root.currentUser.firstName}} {{$root.currentUser.lastName}},
                ({{$root.currentUser.local.email}})
            </div>
            <div><b style="color: greenyellow">Level:</b> {{user.game.level}}</div>
            <div><b style="color: greenyellow">Score:</b> {{user.game.score}}</div>
        </div>

        <div class="green"></div>
        <div class="catch-me-img-div"><img src="img/catch-me.png" style="z-index: 50"></div>
        <div class="blue"></div>
    </div>
</div>

<!-- Timer -->
<div style="color:white">
    <div>
        <div class="col-sm-5 col-sm-offset-3 digits" style="margin-top: -120px;">
        </div>
    </div>
</div>

<!-- End game -->
<div class="row" ng-if="user.game.level == 6">
    <div class="col-sm-5 col-sm-offset-3">
        <h1 style="color: greenyellow">You finished the game!!!</h1>
        <a href="#/leaderboard2">
            <button class="btn btn-primary">Leaderboard</button>
        </a>
    </div>
</div>

<img id="wrngAnswrImg" src="img/wrngAnswer.jpg" class="fading-img ng-hide" ng-show="wrongAnswer == true"/>

<img id="wrngAnswrImg" src="img/worngAns.jpg" class="fading-img ng-hide" ng-show="ShowPic == true"/>
<!-- Challenge -->
<div class="row" ng-if="user.game.level != 6">
    <div class="col-sm-5 col-sm-offset-3 whiteBackground text-center" style="border-radius: 25px;">
        <br/>

        <div>
            <h1>Level: {{user.game.level}}</h1>

            <div ng-hide="!showModalCh2">
                <div class="mouse-invisible" ng-style="{ 'height' : '30px' ,'width' : '9px', 'background' : 'white' }"
                     ng-click="showPicture()">
                </div>
            </div>
            <h2 style="text-align: left">{{user.game.question}}</h2>

            <hr>

            <!-- CH 1 -->
            <div ng-if="user.game.level == 1">
                <br/>

                <button ng-click="toggleRecoveryQuestion()" class="btn btn-primary" id="toggleButtonCH1"
                        style="position:absolute; top:10px; left:10px;" ng-mouseover="onToggleButtonCH1()"
                        ng-hide="user.game.level !== 1">Forgot Password

                </button>
                <br/><br/>
                <p>Click on forgot password button to recover your password</p>
                <div ng-hide="!showModalCh2"><img src="img/ch1.jpg" style="z-index: 50; width:450px;"></img></div>
                <p ng-hide="!showModalCh2">Use QR reader application or use <a href="https://webqr.com/">this site</a>
                    to read it.</p>
            </div>

            <!-- CH 3 -->
            <div ng-if="user.game.level == 3">
                <table style="text-align: left">
                    <tr>
                        <th><b>Account Name</b>
                        </td>
                        <th style="padding: 15px;"><b>Amount</b>
                        </td>
                    </tr>
                    <tr>
                        <td>QWJyYWhhbQ==</td>
                        <td style="padding: 15px;">MTAw</td>
                    </tr>
                    <tr>
                        <td>S2V5c2VyIFPDtnpl</td>
                        <td style="padding: 15px;">MjAw</td>
                    </tr>
                    <tr>
                        <td>VHlsZXIgRHVyZGVu</td>
                        <td style="padding: 15px;">MzAwMA==</td>
                    </tr>
                    <tr>
                        <td>Q2FybG9zIFNsaW0=</td>
                        <td style="padding: 15px;">MTAwMDAwMA==</td>
                    </tr>
                    <tr>
                        <td>RHIuIE1hbGNvbG0gQ3Jvd2U=</td>
                        <td style="padding: 15px;">MjAwMA==</td>
                    </tr>
                </table>
            </div>

            <!-- CH 4 -->
            <div ng-if="user.game.level == 4">
                <form ng-submit="transfer()">
                    <table style="text-align: center">
                        <tr>
                            <td><label>From account:</label></td>
                            <td style="padding: 15px;">xjc3sr</td>
                        </tr>
                        <tr>
                            <td><label>To account:</label></td>
                            <td style="padding: 15px;" id="accountNumber">00350</td>
                        </tr>
                        <tr>
                            <td><label for="amount">Amount (in USD):</label></td>
                            <td style="padding: 15px;"><input type="text" id="amount" ng-model="amount"
                                                              placeholder="Enter amount to transfer..." width="200px">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-primary">Transfer money</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <br/>
            </div>

            <!-- Submitting answer area -->
            <form ng-submit="submitAnswer()">
                <p ng-if="user.game.level == 4 && confirmationToken == true">{{confKey}}</p>
                <input type="text" name="field" id="answerInput"
                       ng-hide="user.game.level === 5 || (user.game.level == 4 && confirmationToken != true) "/>
                <input type="submit" value="Submit" class="btn btn-primary"
                       ng-hide="user.game.level === 5  || (user.game.level == 4 && confirmationToken != true)"
                       style="margin-left: 15px;"/>
                <input type="submit" value="Delete Log" class="btn btn-primary" ng-if="user.game.level == 5"/>
            </form>

            <!-- Hints section -->
            <hr>

            <form ng-submit="getHint()">
                <div>
                    <h3>Hints</h3>

                    <div style="text-align: left">
                        <ol id="hintList">
                            <li ng-repeat="hint in user.game.hints">{{hint}}</li>
                        </ol>
                    </div>
                    <input type="submit" id="hintButton" value="Give me a Hint" class="btn btn-primary hint-button"
                           title="Get Hint (this will reduce your score a bit)"
                           ng-disabled="isHintDisabled" ng-hide="isHintDisabled"/>
                </div>
            </form>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
</div>
<div class="row" ng-if="user.game.level === 2">
    <table align="center" cellpadding="10">
        <tr bgcolor="transparent">
            <td>
                <pre style="background-color: transparent; border:none; color: transparent">
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmdmmmmmmmmmmmmmmmmmmmmmmdddmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmdo/:::/+osyhddmmmmmddhyo+:-...-odmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmh/:::::--------------.......`````:hmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmd/::::::----------------.....``````-hmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmd+/::::::-------..............```````-dmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmms//::::::-------..............````````/mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmh///::::::-------..............`````````smmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmo///::::::-------..............`````````.hmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmh////::::::-------..............``````````/mmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmo////::::::-------..............``````````.ymmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmd+////::::::-------..............```````````/mmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmy/////::::::-------..............```````````.hmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmms++///::::::-------..............``````````..ommmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmddhhhhooo++//:::::-------..............```````.....:yyhhhddmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmddhyso+///::ooo++++///:::------...............................---:+osyhdmmmmmmmmmmmm
    mmmmmmmmmmmmddhso++////:::::++o++++/////:::::-------......................```````````.-:/sydmmmmmmmm
    mmmmmmmmmdhyso+++//////:::::::://++/////::::::-----------...............``````````````````.-/shdmmmm
    mmmmmmmhsso++++++//////:::::::---:::::::::::::-----------............````````````````````.-:/oydmmmm
    mmmmmmmddhhyso+++//////:::::::-----------------------............````````````````````.-/syddmmmmmmmm
    mmmmmmmmmmmmmmdhhyo++//:::::::----------.......................``````````````````.-+shdmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmdhys+/:::::----------.......................``````````````.-/shdmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmdhs+//:---------.......................``````````.-/sydmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmdhyo+::-----.......................`````..-+shdmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmhhmmdhys+:---..................``..-:/oyhmmdymmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmdy+mmmmmmmmdhyso+/::---------:/+osyhdmmmmmmmyshmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmdsdhddddddmmmmmmmmmmmmdddddddmmmmmmmmmmddddddhhydmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmms+ssssyysssssyhhddmmmmmmmmmmmmmdddhyssssooo++++//mmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmy/++++++++++++////+shhyyyyyyhhoo+++oo++///:::---/mmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmm-`.---::::::::::::.oyhddddhy-+///:::----....```hmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmy-```````.........`smmmmmmmm.--......````````.ommmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmhs+:.``````````` smmmmmmmm````````````.-/oydmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmdhso+/::--:/dmmmmmmmmo:--::/+osydmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm   The door lock code is 271083  mmmmmmmmmmmmmmmmmmmmmmmmmmmm
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
</pre>
            </td>
        </tr>
    </table>
</div>