<br/>
<br/>

<div class="row">
    <div id="catchMeDiv" class="catch-me-top-div">
        <div class="green"></div>
        <div class="catch-me-img-div"><img src="img/catch-me.png" style="z-index: 50"></div>
        <div class="blue"></div>
    </div>
</div>
<br/>
<br/>
<br/>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style=" font-size: 20px;color: white">
        <h1 style="color:greenyellow">Briefing</h1>

        <p>
        <li>We will introduce you to some Security concepts like Social Engineering, XSS, SQL Injection, Information
            disclosure and more.
        </li>
        <br/>
        <li>For further learning go to OWASP - "The Open Web Application Security Project",<br/>
            an online community which creates freely-available articles, methodologies, documentation, tools, and
            technologies in the field of web application security.
        </li>
        </p>

        <h1 style="color:greenyellow">Instruction page</h1>

        <h2 style="color:green">Goal</h2>

        <p>
        <li>You are a white hat hacker that wants to be rich.<br/>
            Your target is to hack the bank and transfer 1 million dollars to your bank account in 15 minutes!<br/><br/>
        <li>The top hacker may win a prize, so don't reveal your findings to others.</li>

        <h2 style="color:green">Score</h2>
        <li>In each level there will be hints available. Using a hint will reduce your final score.</li>
        <li>The score is calculated according to how fast you finished the level.</li>

        <h2 style="color:green">Useful Hints</h2>
        <li>The only requirement is common sense.</li>
        <li>In Chrome, open the developer tools with F12, CTRL+SHIFT +F.</li>
        <li>You can try right-click and <b>inspect</b> elements.</li>
        <li>The network tab can also be useful.</li>
        </p>
        <li>Remember to do it in chrome incognito so as to not leaving any cookies.</li>

        <h1 style="color:greenyellow">Technologies</h1>

        <p>We used MEAN (Mongo, Express, Angular, Node) stack
        <li>MongoDB is the persistence layer.</li>
        <li>ExpressJS is the backend layer for building the web application.</li>
        <li>AngularJS is the frontend layer, gives us the MVC in the client side.</li>
        <li>NodeJS runs our JavaScript server.</li>
        Also added is Bootstrap for the design and UX.</p>

        <img src="img/mean.PNG"></img>

    </div>
</div>
<br/>
<br/>
<br/>
<script>
    ga('send', 'pageview', '/help.html');
</script>