<br/>
<br/>

<div class="row">
    <div id="catchMeDiv" class="catch-me-top-div">
        <div class="green"></div>
        <div class="catch-me-img-div"><img src="img/catch-me.png" style="z-index: 50"></div>
        <div class="blue"></div>
    </div>
</div>
<br/>
<br/>
<!-- Start to begin -->
<div class="row col-sm-6 col-sm-offset-3">

    <h1 style="color:greenyellow">The story</br>
        <h1 style="color:white">You are a white hat hacker that wants to be rich.</br>
            Your target is to hack the bank and transfer 1 million dollars to your bank account in 15 minutes!<br/>
        </h1>

        <h1 style="color:greenyellow">Help</br></h1>

        <h1 style="color:white">In any time you can read the <a href="#/help">Help</a> guide which is also available at
            the header section.</h1>

        <h1 style="color:greenyellow">About</br></h1>

        <h1 style="color:white">In any time you can read the <a href="#/about">About</a> section to understand how we
            developed this game.</h1>

        <h1 style="color:greenyellow">Leaderboard</br></h1>

        <h1 style="color:white">In any time you can see the <a href="#/leaderboard2">Leaderboard</a> to view the current standing.</h1>

        <div class="row text-center">
            <div class="col-sm-12">
                <a class="button-start" href="#/game">Start the Game</a>
            </div>
        </div>
        <br/>
</div>
<br/>
<br/>
<script>
    ga('send', 'pageview', '/profile.html');
</script>