<br/>
<br/>

<div class="row">
    <div id="catchMeDiv" class="catch-me-top-div">
        <div class="green"></div>
        <div class="catch-me-img-div"><img src="img/catch-me.png" style="z-index: 50"></div>
        <div class="blue"></div>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-5 col-sm-offset-3 appname-standard-border appname-form" style="border-radius: 25px;">
        <form>
            <h1 class="text-center">Choose nickname</h1>
            <input type="text" class="form-control" id="exampleInputFirstName" placeholder="nickname"
                   ng-model="firstName">
            </input>
            </br>
            <div class="row text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" ng-click="signup()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    ga('send', 'pageview', '/signup.html');
</script>