<br/>
<br/>

<div class="row">
    <div id="catchMeDiv" class="catch-me-top-div">
        <div class="green"></div>
        <div class="catch-me-img-div"><img src="img/catch-me.png" style="z-index: 50"></div>
        <div class="blue"></div>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-5 col-sm-offset-3 appname-standard-border appname-form" style="border-radius: 25px;">
        <form>
            <h1 class="text-center">Register</h1>
            <br>

            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="exampleInputFirstName">First Name</label>
                    <input type="text" class="form-control" id="exampleInputFirstName" placeholder="first name"
                           ng-model="firstName"></input>
                </div>
                <div class="form-group col-sm-5">
                    <label for="exampleInputLastName">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputLastName" placeholder="last name"
                           ng-model="lastName"></input>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email"
                           ng-model="email"></input>
                </div>

                <div class="form-group col-sm-5">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                           ng-model="password"></input>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" ng-click="signup()">Submit</button>
                    <a style="margin-left: 15px;" href="#/login">Already a Member?</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    ga('send', 'pageview', '/signup.html');
</script>